.products-page-conatiner {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.products-filter {
  width: 25%;
  height: fit-content;
}

.products-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.8rem;
  width: 75%;
}

@media (max-width: 425px) {
  .products-filter {
    display: none;
  }
  .products-row {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
    width: 100%;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .products-row {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
  }
}
