.card-testimonial {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
  flex-basis: 30%;
  margin-bottom: 1rem;
}
.card-testimonial img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.card-testimonial:hover {
  transform: translateY(-10px);
}
.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.card-testimonial p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.card-testimonial h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}
