.collection-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.8rem;
  margin-top: 0.8rem;
  width: 100%;
  padding: 0 0.8rem;
}
.collection-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.8rem;
}
.collection-header button {
  padding: 0.6rem 1rem;
  border: none;
  background-color: #ff523b;
  color: #fff;
}
.collection-header button:hover {
  background-color: #fff;
  color: #ff523b;
  border: 1px solid #ff523b;
}
.collection {
  margin: 1rem 0;
}
@media (max-width: 425px) {
  .collection-row {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.2rem;
  }
  .small-container{
    padding: 0;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .collection-row {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .small-container{
    padding: 0;
  }
}
