.cart-dropdown {
  position: absolute;
  width: 250px;
  height: 200px;
  border: 1px solid black;
  top: 35px;
  right: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px 12px;
}
.cart-items {
  height: 90%;
  display: flex;
  flex-direction: column;
}
.checkout-btn {
  margin-top: auto;
}
.empty-message {
  font-size: 16px;
  margin: 50px auto;
}
.cart-dropdown-order-summary {
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.more-items {
  margin-top: 10px;
}
