.cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.item-count {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  bottom: 2px;
}
