.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.row .col-2 {
  /* min-width: 300px; */
  flex-basis: 50%;
}
.row .col-2 img {
  width: 100%;
}
.col-2 h1 {
  font-size: 3rem;
  line-height: 4rem;
  margin: 2rem 0;
}
.btn-explore {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  background: #ff523b;
  color: #fff;
  margin: 2rem 0;
  transition: background 0.5s;
}
.btn-explore:hover {
  opacity: 0.8;
}
.btn-explore:hover i {
  margin-left: 0.8rem;
}
@media (max-width: 450px) {
  .row {
    flex-direction: column;
  }
}
