.col-4 {
  width: 100%;
  max-width: 220px;
  margin-bottom: 50px;
  padding: 10px 10px 5px 10px;
  transition: transform 0.5s;
  height: 420px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-4:hover {
  transform: translateY(-5px);
}
.col-4 img {
  width: 100%;
  height: 100%;
}
.col-4 h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 1rem;
}
.rating i {
  color: #ff523b;
}
.addtocart {
  width: 100%;
  height: 35px;
}
.menu-footer {
  align-self: flex-start;
  margin-bottom: 2px;
}
.wishlist-icon {
  position: absolute;
  top: 10;
  right: 0;
  margin-right: 20px;
  margin-top: 6px;
  border: none;
  background: white;
  border-radius: 50%;
  padding: 5px;
  opacity: 0.5;
  cursor: pointer;
}
.wishlist-icon i {
  color: #ff523b;
  font-size: 1.5rem;
  text-align: center;
}
.menu-item {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product-brand {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-product {
  font-size: 14px;
  text-overflow: ellipsis;
  color: #535766;
  overflow: hidden;
}
.product-price {
  font-weight: 500;
  font-size: 14px;
}
.remove-btn i {
  font-size: 1rem;
  color: black;
}
.img-card {
  width: 100%;
  height: 75%;
  background-color: #fafafa;
}
