.col-4 {
  flex-basis: 25%;
  min-width: 200px;
  margin-bottom: 50px;
  padding: 10px;
  transition: transform 0.5s;
  height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-4:hover {
  transform: translateY(-5px);
}
.col-4 img {
  width: 100%;
  height: 95%;
}
.col-4 h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.rating i {
  color: #ff523b;
}
.addtocart {
  position: absolute;
  bottom: 60px;
  /* padding: 10px 50px; */
  width: 85%;
  height: 35px;
  margin: auto;
  opacity: 0.5;
  border: none;
  background: white;
}
.addtocart:hover {
  opacity: 0.85;
}
.menu-footer {
  align-self: flex-start;
  height: 5%;
}
