.pagenotfound {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem 2rem;
}
.pagenotfound-image {
  width: 40%;
}
.pagenotfound-image img {
  width: 100%;
}
.pagenotfound-content {
  width: 30%;
}
@media (max-width: 425px) {
  .pagenotfound {
    flex-direction: column;
  }
  .pagenotfound-image {
    width: 90%;
  }
  .pagenotfound-content {
    margin-top: 2rem;
    width: 90%;
  }
}
