p {
  color: #555;
}
.container {
  /* max-width: 1300px;
  width: 1200px; */
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.full-container {
  width: "100%";
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.cart img {
  width: 30px;
  height: 30px;
}

.small-container {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  padding: 0 25px;
}
.col-2 .offer-img {
  padding: 50px;
}
small {
  color: #555;
}

@media (max-width: 450px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
