/* .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.navbar nav ul{
    display: flex;
    list-style-type: none;
}
.navbar nav ul li{
    padding-right: 15px;
}
a{
    text-decoration: none;
    color:#555;
} */
p {
  color: #555;
}
.container {
  max-width: 1300px;
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* .logo img{
    width: 150px;
} */
/* .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
} */
/* .row .col-2{
    min-width: 300px;
    flex-basis: 50%;
}
.row .col-2 img{
    width: 100%;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn-explore{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    background: #ff523b;
    color: #fff;
    margin: 30px 0;
    transition: background 0.5s;
}
.btn-explore:hover{
    opacity: 0.8;
}
.btn-explore:hover i{
    margin-left: 10px;
} */
.header {
  /* background: radial-gradient(#fff,#ffd6d6); */
}

.cart img {
  width: 30px;
  height: 30px;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;
}
/* .categories {
  margin: 70px 0;
}
.categories .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
} */
/* .featuredrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    margin-bottom: 50px;
    padding: 10px;
    transition: transform 0.5s;
}
.col-4:hover{
    transform: translateY(-5px);
}
.col-4 img{
    width: 100%;
}
.feature-title{
    text-align: center;
    position: relative;
    margin:0 auto 80px;
    line-height: 60px;
    color:#555;
}
.feature-title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.featuredrow h4{
    color:#555;
    font-weight: normal;
}
.featuredrow p{
   font-size: 14px; 
} */
/* .rating i {
    color:#ff523b;
} */
.col-2 .offer-img {
  padding: 50px;
}
small {
  color: #555;
}
